<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="${rc.contextPath}/statics/ui-frame/js/frame-util.js"></script>
<!-- BootStrap Css -->
<link href="${rc.contextPath}/statics/ui-frame/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<!-- 字体图标 Css -->
<link href="${rc.contextPath}/statics/ui-frame/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<!-- 下拉选择插件 -->
<link href="${rc.contextPath}/statics/ui-frame/css/plugins/chosen/chosen.css" rel="stylesheet">
<!-- 开关按钮插件 -->
<link href="${rc.contextPath}/statics/ui-frame/css/plugins/switchery/switchery.css" rel="stylesheet">
<!-- BootStrap 扩展插件 -->
<link href="${rc.contextPath}/statics/ui-frame/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
<!-- BootStrap 日期插件 -->
<link href="${rc.contextPath}/statics/ui-frame/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<!-- Checkbox的美化插件 -->
<link href="${rc.contextPath}/statics/ui-frame/css/plugins/iCheck/custom.css" rel="stylesheet">
<!-- Css 动画 -->
<link href="${rc.contextPath}/statics/ui-frame/css/animate.min.css" rel="stylesheet">
<!-- 基本样式 -->
<link href="${rc.contextPath}/statics/ui-frame/css/style.min862f.css?v=4.1.0" rel="stylesheet">
<style type="text/css">
thead>tr>th, tbody>tr>td{text-align:center}
.wrapper-content{padding:0}
.float-e-margins .btn{margin-bottom:0}
.form-group{margin-bottom:4px!important}
.input-group{width:100%}
.ibox{margin-bottom:0px}
.ilabel{color: #000}
.required {background-color: red;color: red}
.required:before {content: "|"}
.col-xs-6 {margin-top: 10px;}
</style>
</head>
<body class="gray-bg" style="display: none">
	<div id="app" class="wrapper wrapper-content">
		<div class="row">
			
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div>
							<span class="required"></span> ：必填项
						</div>
						<div class="row">
							
							<div class="col-xs-6">
								<div class="form-group">
		                            <div class="col-xs-12">
		                                <span class="help-block m-b-none">
		                                	<span class="required"></span>
		                                	<span class="ilabel">&nbsp;组织</span>
		                                </span>
		                                <div class="input-group">
			                                <select v-model="formObj.organizationId" data-placeholder="组织" class="form-control">
													<option value="0" selected="selected" disabled="disabled">选择一个组织</option>
													<#list organizations as organization>
														<option value="${organization.id!}">${organization.organizationName!}</option>
													</#list>
											</select>
										</div>
		                            </div>
		                        </div>
							</div>
							
							<div class="col-xs-6">
								<div class="form-group">
		                            <div class="col-xs-12">
		                                <span class="help-block m-b-none">
		                                	<span class="required"></span>
		                                	<span class="ilabel">&nbsp;角色名称</span>
		                                </span>
		                                <input v-model="formObj.roleName" type="text" placeholder="请输入角色名称" class="form-control">
		                            </div>
		                        </div>
							</div>
							
							<div class="col-xs-6">
								<div class="form-group">
		                            <div class="col-xs-12">
		                                <span class="help-block m-b-none">
		                                	<span class="required"></span>
		                                	<span class="ilabel">&nbsp;角色编码</span>
		                                </span>
		                                <input v-model="formObj.roleCode" type="text" placeholder="请输入角色编码" class="form-control">
		                            </div>
		                        </div>
							</div>
							
							<div class="col-xs-6">
								<div class="form-group">
		                            <div class="col-xs-12">
		                                <span class="help-block m-b-none">
		                                	<span class="required"></span>
		                                	<span class="ilabel">&nbsp;状态</span>
		                                </span>
		                                <div class="input-group">
			                                <select v-model="formObj.usingState" data-placeholder="请选择角色状态" class="form-control">
													<option value="Y" selected="selected">启用</option>
													<option value="N">禁用</option>
											</select>
										</div>
		                            </div>
		                        </div>
							</div>
							
							<div class="col-xs-12">
								<div class="form-group">
		                            <div class="col-xs-12">
		                                <span class="help-block m-b-none">
		                                	<span class="ilabel">&nbsp;角色说明</span>
		                                </span>
		                                <input v-model="formObj.roleExplain" type="text" placeholder="请输入角色说明" class="form-control">
		                            </div>
		                        </div>
							</div>
							
							<div class="col-xs-12">
									
									<div class="col-sm-12 text-center" style="margin: 32px auto">
				                        <button @click="submitForm" class="btn" style="background-color: #273a4a;border-color: #273a4a;color: #FFF;" type="button">保存信息</button>
				                    </div>
							
							</div>
							
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	<!-- Jquery Dom -->
	<script src="${rc.contextPath}/statics/ui-frame/js/jquery.min.js?v=2.1.4"></script>
	<!-- BootStrap Js -->
	<script src="${rc.contextPath}/statics/ui-frame/js/bootstrap.min.js?v=3.3.6"></script>
	<!-- Jquery 下拉选择插件 -->
	<script src="${rc.contextPath}/statics/ui-frame/js/plugins/chosen/chosen.jquery.min.js?v=1.8.2"></script>
	<!-- BootStrap 扩展插件 -->
	<script src="${rc.contextPath}/statics/ui-frame/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script src="${rc.contextPath}/statics/ui-frame/js/plugins/datapicker/bootstrap-datepicker.js"></script>
	<!-- 开关按钮插件 -->
	<script src="${rc.contextPath}/statics/ui-frame/js/plugins/switchery/switchery.js"></script>
	<!-- Checkbox的美化插件 -->
	<script src="${rc.contextPath}/statics/ui-frame/js/plugins/iCheck/icheck.min.js"></script>
	<!-- 下拉选择 -->
    <script src="${rc.contextPath}/statics/ui-frame/js/plugins/suggest/bootstrap-suggest.min.js"></script>
    
	<!-- Vue MV-VM框架 -->
	<script src="${rc.contextPath}/statics/ui-frame/js/vue.min.js"></script>
	<script type="text/javascript">
	    "use strict";
	    !function(_d, _w, _j, _v) {
	   		var data = {
	   			formObj: {
	    			roleName: "",
	   				roleCode: "",
	   				organizationId: 0,
	   				usingState: "Y",
	   				roleExplain: ""
	   			}
	   	    };
	   		
	   		var methods = {
			    submitForm: function() {
			    	const that = this;
			    	_j.post("${rc.contextPath}/role/save.do", that.formObj, function(result){
			    		var _time = 3000, color = "#8c1717";
			    		if(result.status) {
			    			_time = 1000;
			    			color = "#2f4050";
			    			that.clearForm();
			    		}
			    		parent.layer.msg("<span style='color:" + color + "'><i class='fa fa-info'></i> " + result.msg  +"</span>", {
			    			time: _time
			    		});
			    	}, "json");
			    },
			    clearForm: function() {
			    	const that = this;
			    	that.formObj = {
		    			roleName: "",
		   				roleCode: "",
		   				organizationId: 0,
		   				usingState: "Y",
		   				roleExplain: ""
		   			};
			    }
	   		};
	   		
	   	    new _v({
	   	    	el: '#app',
	   	     	data: data,
	      		methods: methods,
	      		mounted: function () { 
			   	 	var that = this;
					setTimeout(function(){_j("body").fadeIn(40);});
			   	}
	   	    });
	   	    
	    }(document, window, jQuery, Vue)
	</script>
</body>
</html>
