<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>主页</title>
<link rel="stylesheet" type="text/css"
	href="${rc.contextPath}/statics/font/style.css">
<link rel="stylesheet" type="text/css"
	href="${rc.contextPath}/statics/style/index.css">
</head>
<body>
	<!-- 头部开始 -->
	<#include "../templates/header.html">
	<!-- 头部结束 -->
	<!-- 菜单开始 -->
	<#include "../templates/menu.html">
	<!-- 菜单结束 -->
	<div class="app-content-holder">
		<div class="dashboard-wrapper">
			<div>
				<div class="ds-grid fn-clear">
					<div class="ds-main">
						<div class="main-wrap">
							
							<!-- 用户信息模块开始 -->
							<#include "../templates/manage-index/module-center-userinfo.html">
							<!-- 用户信息模块结束 -->
							
							<!-- 通知模块开始 -->
							<#include "../templates/manage-index/module-center-alarm.html">
							<!-- 通知模块结束 -->
							
							<div class="modules fn-clear">
							
								<div class="mod-center fn-left">
								
									<!-- 活动模块开始 -->
									<#include "../templates/manage-index/module-center-activity.html">
									<!-- 活动模块结束 -->
									<img id="imageVerify" src="${rc.contextPath}/image-verify.do" alt="image-verify"/>									
								</div>
								
								<div class="mod-sub fn-right">
								
									<!-- 活动模块开始 -->
									<#include "../templates/manage-index/module-right-data.html">
									<!-- 活动模块结束 -->
									
								</div>
							</div>
						</div>
					</div>
					<div class="ds-sub">
						<div>
								<!-- 左侧快捷导航开始 -->
								<#include "../templates/manage-index/left-navigation.html">
								<!-- 左侧快捷导航结束 -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 底部开始 -->
	<#include "../templates/footer.html">
	<!-- 底部结束 -->
	
</body>

<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
	$(function(){
		$("#imageVerify").on("click", function(){
			$(this).attr('src', '${rc.contextPath}/image-verify.do?_r=' + Math.floor(Math.random()*100) );
		})
	})
</script>
</html>