<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>系统设置</title>
<link rel="stylesheet" type="text/css"
	href="${rc.contextPath}/statics/font/style.css">
<link rel="stylesheet" type="text/css"
	href="${rc.contextPath}/statics/style/index.css">
</head>
<body>
	<!-- 头部开始 -->
	<#include "../templates/header.html">
	<!-- 头部结束 -->
	<!-- 菜单开始 -->
	<#include "../templates/menu.html">
	<!-- 菜单结束 -->
	<div class="app-content-holder">
		<div class="dashboard-wrapper">
			<div>
				<div class="ds-grid fn-clear">
					<div class="ds-main">
						<div class="main-wrap">
														
							<div class="modules fn-clear">
								<div class="ds-box white activities-box">
									<div class="box-hd">
										<h4>消息</h4>
									</div>
									<div class="box-bd">
										<div class="empty-activity">
											<p>暂无消息</p>
											<p class="action">
												<a>去消息中心</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ds-sub">
						<div>
								<!-- 左侧快捷导航开始 -->
								<#include "../templates/manage-system/left-navigation.html">
								<!-- 左侧快捷导航结束 -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 底部开始 -->
	<#include "../templates/footer.html">
	<!-- 底部结束 -->
</body>

<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
	
</script>
</html>