<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>用户管理</title>
<link rel="stylesheet" type="text/css"
	href="${rc.contextPath}/statics/font/style.css">
<link rel="stylesheet" type="text/css"
	href="${rc.contextPath}/statics/style/index.css">
</head>
<body>
	<!-- 头部开始 -->
	<#include "../templates/header.html">
	<!-- 头部结束 -->
	<!-- 菜单开始 -->
	<#include "../templates/menu.html">
	<!-- 菜单结束 -->
	<div class="app-content-holder">
		<div class="dashboard-wrapper">
			<div>
				<div class="ds-grid fn-clear">
					<div id="free-newbie-limit">
						<p>该模块仅对基础及以上会员使用：${vcode}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- 底部开始 -->
	<#include "../templates/footer.html">
	<!-- 底部结束 -->
	
</body>

<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
	
</script>
</html>