<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tm.pro.mapper.HouseLayoutDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.tm.pro.entity.HouseLayout">
        <id column="id" property="id" />
        <result column="house_id" property="houseId" />
        <result column="name" property="name" />
        <result column="acreage" property="acreage" />
        <result column="price" property="price" />
        <result column="support_facility" property="supportFacility" />
        <result column="living_amount" property="livingAmount" />
        <result column="hall_amount" property="hallAmount" />
        <result column="kitchen_amount" property="kitchenAmount" />
        <result column="washroom_amount" property="washroomAmount" />
        <result column="show_status" property="showStatus" />
        <result column="sale_status" property="saleStatus" />
        <result column="operator" property="operator" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
